{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>{% block title %}บ้านตาหรั่ง{% endblock %}</title>
    <link rel="stylesheet" href="{% static './lib/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static './lib/fontawesome/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static './css/style.css'%}">
</head>

<body>

    <nav class="navbar navbar-expand-md navbar-dark" style="background-color: #213357;padding: 15px;">
        <a class="navbar-brand" href="{% url 'home' %}"><img src="static/images/logo4.png" alt="" width="160px" height="80px"></a>
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item" style="margin-right: 25px;">
                    <a class="nav-link" href="{% url 'about' %}">เกี่ยวกับฉัน</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link " href="{% url 'region' %}" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">ภาคของไทย</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownId">
                        <a class="dropdown-item" href="{% url 'region' %}">ภาคของไทย</a>
                        <a class="dropdown-item" href="{% url 'central' %}">ภาคกลาง</a>
                        <a class="dropdown-item" href="{% url 'north' %}">ภาเหนือ</a>
                        <a class="dropdown-item" href="{% url 'northeast' %}">ภาคอีสาน</a>
                        <a class="dropdown-item" href="{% url 'south' %}">ภาคใต้</a>

                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link " href="หมวดเที่ยว" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">หมวดเที่ยว</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{% url 'group' %}">หมวดเที่ยว</a>
                        <a class="dropdown-item" href="{% url 'camping' %}">แคมป์ปิ้ง</a>
                        <a class="dropdown-item" href="{% url 'nature' %}">ธรรมชาติ</a>
                        <a class="dropdown-item" href="{% url 'sea' %}">ทะเล</a>
                        <a class="dropdown-item" href="{% url 'photograph' %}">ถ่ายรูป</a>
                    </div>
                </li>


            </ul>
            <a href="{% url 'contact' %} "><button class="btn btn-outline-light " type="submit" style="margin-right: 60px;">CONTACT</button></a>
        </div>
        </div>
    </nav>



    <div>
        <img src="static/images/c/c1/1.jpg" alt="" width="100%" height="110%">
    </div>
    <div class="container" style="font-size: 17.5px;">
        <div class="row">
            <div class="col"></div>
            <div class="col">
                <p> เมื่อใจเรียกร้องอยากแคมป์ปิ้ง บ้านตาหรั่งCamping จึงเป็นจุดหมายปลายทาง
                </p>
                <p>
                    บ้านตาหรั่งช่วงปลายฝนต้นหนาวโคตร รดีเลย น้ำเต็มอ่าง ต้นไม้ใบหญ้าเขียวขจี มาช่วงนี้จะเริ่มมีอากาศเย็นๆ ให้สัมผัส ได้นอนเต็นท์ติดริมน้ำ กลางคืนนั่งชิลดูดาว
                </p>
                <p>
                    กิจกรรมหลักของการมาที่นี่ก็คือการ แคมป์ปิ้ง ก่อไฟทำอาหาร นั่งชิลซึมซับ บรรยากาศสวยๆ ปล่อยตัวปล่อยใจ ให้ผ่อนคลายไปกับธรรมชาติ มองวิวภูเขา สะท้อนผืนน้ำและแสงสีทองของพระอาทิตย์
                </p>
            </div>
            <div class="col"></div>
        </div>
    </div>
    <div class="container text-center">
        <img src="static/images/c/c1/2.jpg" alt="" width="75%" height="100%">
    </div>
    <div class="container-fluid text-center">
        <img src="static/images/c/c1/3.jpg" alt="" width="56%" height="100%">
    </div>
    <div class="container" style="font-size: 17.5px;">
        <div class=" row ">
            <div class="col "></div>
            <div class="col ">
                <p>มุมนี้เป็นจุดชมพระอาทิตย์ขึ้นในตอนเช้า สวยงามจริงๆ</p>
                <br>
                <p> กำลังจะเข้าหน้าหนาวแล้วไปหาที่แคมป์ ปิ้งสวยๆ บรรยากาศดี บ้านตาหรังกำลัง รออยู่นะเพื่อนๆ สายแคมป์ปิ่งต้องมา

                </p>
                <p>
                    ฉันจะมีลานกางโปรแกรมวิวหลักล้านแล้ว บ้านตาหรั่งก็มีบ้านพักเป็นหลังให้บริการด้วย ส่วนเรื่องอาหารการกินไม่ต้องห่วงเพราะเขามี ครัวของตัวเองมีอาหารเครื่องดื่มเปิดขาย ทุกวันถ้าไม่ได้ รวมมาก็ซื้อกับร้านทางเดินได้ อร่อยแซ่บทุกเมนูที่สำคัญพี่ๆ บริการดีทุกคน มีรถรับ-ส่งช่วยขนของตั้งแต่จุดจอดรถถึงจุดกางเต็นท์
                </p>
            </div>
            <div class="col "></div>
        </div>
    </div>


    <div class="container text-center ">
        <img src="static/images/c/c1/4.jpg " alt=" " width="75%" height="100%">
    </div>
    <div class="container " style="font-size: 17.5px; ">
        <div class="row ">
            <div class="col "></div>
            <div class="col ">
                <p> อีกหนึ่งกิจกรรมของบ้านตาหรั่งคือการพายเรือ เราพายมาดูพระอาทิตย์ตกตอนเย็น เป็นภาพที่สวยงาม ไม่มีอะไรมาบดบัง

                    <br>
                    <br> รายละเอียดที่พัก
                    <br> -ค่ากางเต็นท์คนละ 100 บาท/คืน
                    <br> -บ้านพักหลังละ 1,000 บาท/คืน

                    <br> -มีไฟฟ้าให้ใช้ ไม่จำกัดเวลาเปิด ปิด แนะนำควรเตรียมปลั๊กพ่วงยาวๆ ไปด้วย

                    <br> - ห้องน้ำรวม มีฝักบัวอาบน้ำ ไม่มีเครื่องทำน้ำอุ่น

                    <br> -ไม่รับ walk-in ต้องจองทางเพจก่อนเข้าพัก

                    <br> บ้านตาหรั่งมาไม่ยาก

                    <br> ตั้งอยู่ที่อ่างเก็บน้ำลำตะเพิน อ.ด่านช้าง จ.สุพรรณบุรี

                    <br> ทางเข้าจะออฟโรด แต่รับรองว่ารถเก๋ง รถมอเตอร์ไซค์ เข้าได้ 100%

                    <br> -พิกัด GPS : <a href="https://goo.gl/maps/JDwy1xd5u1XTfq3b9 ">https://goo.gl/maps/JDwy1xd5u1XTfq3b9</a>

                    <br> -มีที่จอดรถ

                    <br> -เปิดให้บริการทุกวัน

                    <br> -โทร : 095-729-6158

                    <br> -ดูรายละเอียดเพิ่มเติม

                    <br> จองที่พักได้ที่เพจบ้านตารัง : <a href="https://www.facebook.com/%E0%B8%9A%E0%B9%89%E0%B8%B2%E0%B8%99%E0%B8%95%E0%B8%B2%E0%B8%AB%E0%B8%A3%E0%B8%B1%E0%B9%88%E0%B8%87Camping-1603730093061891 ">บ้านตาหรั่ง</a>

                </p>

            </div>
            <div class="col "></div>
        </div>
    </div>

    <div class="container " style="margin-bottom: 50px; ">
        <div class="col "></div>
    </div>
    <div class="container " style="margin-bottom: 50px; ">

        <div class="col text-center ">
            <tr>
                <img src="static/images/c/c1/2.jpg " alt=" " width="350px " height="240px ">
            </tr>
            <tr>
                <img src="static/images/c/c1/3.jpg " alt=" " width="350px " height="240px ">
            </tr>
            <tr>
                <img src="static/images/c/c1/5.jpg " alt=" " width="350px " height="240px ">
            </tr>
        </div>
        <div class="col text-center ">
            <tr>
                <img src="static/images/c/c1/6.jpg " alt=" " width="350px " height="240px ">
            </tr>
            <tr>
                <img src="static/images/c/c1/1.jpg " alt=" " width="350px " height="240px ">
            </tr>
            <tr>
                <img src="static/images/c/c1/7.jpg " alt=" " width="350px " height="240px ">
            </tr>
        </div>
        <div class="col text-center ">
            <tr>
                <img src="static/images/c/c1/8.jpg " alt=" " width="350px " height="240px ">
            </tr>
            <tr>
                <img src="static/images/c/c1/9.jpg " alt=" " width="350px " height="240px ">
            </tr>
            <tr>
                <img src="static/images/c/c1/11.jpg " alt=" " width="350px " height="240px ">
            </tr>
        </div>
        <div class="col "></div>
    </div>
    </div>
    <div style="padding:30px;margin-right: 60px;text-align: center; ">
        <h3>CREDIT</h2>
            <br>
            <a href="https://www.facebook.com/Getout.gawokpaii/  " class="font-weight-bold " style="color: rgb(0, 0, 0); "><img src="static/images/p/getout.jpg " alt=" " class="rounded-circle font-weight-bold " width="50px " height="50px "> GetOut ก้าวออกไป</a>
            <br>
            <br>
            <a href="https://www.instagram.com/getout.gawokpaii/?fbclid=IwAR0oBRMYtP8Nx-_97y0KNipbQemzi7FTXxC8_JEYE6nhO5LSuEM-fJR6GZY "><img src="static/images/p/ig.png" alt="" width="60px" height="60px"></a>
            <a href="https://www.facebook.com/Getout.gawokpaii/ "><img src="static/images/p/fb.png" alt="" width="50px" height="50px"></a>
            <br>
    </div>

    </div>
    <div style="text-align: center;">
        <h2>แนะนำแหล่งท่องเที่ยว</h2>
    </div>
    <div class="container" style="font-size: 17.5px;margin-bottom: 50px;">
        <div class=" row ">
            <div class="col ">
                <a href="{% url 's1' %}"><img src="static/images/s/s1/5.jpg" alt="" style="width:350px; height:240px;padding:10px;"></a>
                <img src="static/images/p/chill.jpg " alt=" " class="rounded-circle font-weight-bold " width="50px " height="50px "> Chill Journey :: เที่ยวอย่างชิว


                <a href="{% url 's1' %}" class="nav-link">
                    <p style="color: black;font-weight: bold;text-align: center;">เชี่ยวหลาน สุราษฎร์ธานี</p>
                </a>
            </div>
            <div class="col ">
                <a href="{% url 'c2' %}"><img src="static/images/c/c2/1.jpg" alt="" style="width:350px; height:240px;padding:10px;"></a>
                <img src="static/images/p/black.jpg " alt=" " class="rounded-circle font-weight-bold " width="50px " height="50px "> BLACK PACK

                <a href="{% url 'c2' %}" class="nav-link">
                    <p style="color: black;font-weight: bold;text-align: center;">สวนหลังบ้าน กาญจนบุรี</p>
                </a>
            </div>
            <div class="col ">
                <a href="{% url 'ne1' %}"><img src="static/images/ne/ne1/1.jpg" alt="" style="width:350px; height:240px;padding:10px;"></a>
                <img src="static/images/p/ik.jpg " alt=" " class="rounded-circle font-weight-bold " width="50px " height="50px ">Ikigai Outside ออกไปนอกกรอบ
                <a href="{% url 'ne1' %}" class="nav-link">
                    <p style="color: black;font-weight: bold;text-align: center;">วัดภูทอก บึงกาฬ</p>
                </a>
            </div>
        </div>
    </div>
    <section style="text-align: center;">
        <script>
            function goBack() {
                window.history.back()
            }
        </script>
        <script>
            function goForward() {
                window.history.forward()
            }
        </script>

    </section>
    <div style="text-align: center;">
        <input class="btn btn-outline-info" type="button" value="Back" onclick="goBack()">
        <a href="{% url 'about' %}"> <button type="button" class="btn btn-outline-info">เกี่ยวกับฉัน</button></a>
        <a href="{% url 'central' %}"> <button type="button" class="btn btn-outline-info">ภาคกลาง</button></a>
        <a href="{% url 'north' %}"> <button type="button" class="btn btn-outline-info">ภาเหนือ</button></a>
        <a href="{% url 'south' %}"> <button type="button" class="btn btn-outline-info">ภาคใต้</button></a>
        <a href="{% url 'northeast' %}"><button type="button" class="btn btn-outline-info">ภาคอีสาน</button></a>
        <a href="{% url 'camping' %}"> <button type="button" class="btn btn-outline-info">แคมป์ปิ้ง</button></a>
        <a href="{% url 'nature' %}"> <button type="button" class="btn btn-outline-info">ธรรมชาติ</button></a>
        <a href="{% url 'photograph' %}"> <button type="button" class="btn btn-outline-info">ถ่ายรูป</button></a>
        <a href="{% url 'sea' %}"> <button type="button" class="btn btn-outline-info">ทะเล</button></a>
        <input class="btn btn-outline-info" type="button" value="Forward" onclick="goForward()">
    </div>

    <div class="jumbotron " style="margin-bottom:0;background-color: #213357; ">
        <div class="container ">
            <div class="row ">
                <div class="col ">
                    <p>
                        <a href="{% url 'about' %}" style="font-size: 18px;color: rgb(255, 255, 255); ">เกี่ยวกับฉัน</a></p>
                    <br>

                    <p>
                        <a href="{% url 'region' %}" style="font-size: 18px;color: rgb(255, 255, 255); ">ภาคของไทย</a></p>
                    <div style="padding-top:50px;text-align: left;color:#ffffff;">

                        นักศึกษา ชั้นปีที่ 3
                        <br> สาขาวิชาวิศวกรรมสารสนเทศ คณะวิศวกรรมศาสตร์
                        <br> สถาบันเทคโนโลยีพระจอมเกล้าเจ้าคุณทหารลาดกระบัง
                    </div>

                </div>
                <div class="col ">
                    <p>
                        <a href="{% url 'group' %} " style="font-size: 18px;color: rgb(255, 255, 255); ">หมวดเที่ยว</a></p>
                    <br>

                    <p>
                        <a href="{% url 'contact' %}" style="font-size: 18px;color: rgb(255, 255, 255); ">Contact</a></p>
                </div>
                <div class="col ">
                    <img src="static/images/logo4.png " alt=" " width="400px " height="200px ">
                </div>
            </div>
        </div>
    </div>
    </div>
    {% block content %} {% endblock %}
    <script src="{% static './lib/jquery/jquery-2.2.4.js' %} "></script>
    <script src="{% static './lib/popper/popper.min.js' %} "></script>
    <script src="{% static './lib/bootstrap/js/bootstrap.min.js' %} "></script>
</body>

</html>