{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>{% block title %}วัดถ้ำแสง{% endblock %}</title>
    <link rel="stylesheet" href="{% static './lib/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static './lib/fontawesome/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static './css/style.css'%}">
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark" style="background-color: #213357;padding: 15px;">
        <a class="navbar-brand" href="{% url 'home' %}"><img src="static/images/logo4.png" alt="" width="160px" height="80px"></a>
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item" style="margin-right: 25px;">
                    <a class="nav-link" href="{% url 'about' %}">เกี่ยวกับฉัน</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link " href="{% url 'region' %}" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">ภาคของไทย</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownId">
                        <a class="dropdown-item" href="{% url 'region' %}">ภาคของไทย</a>
                        <a class="dropdown-item" href="{% url 'central' %}">ภาคกลาง</a>
                        <a class="dropdown-item" href="{% url 'north' %}">ภาเหนือ</a>
                        <a class="dropdown-item" href="{% url 'northeast' %}">ภาคอีสาน</a>
                        <a class="dropdown-item" href="{% url 'south' %}">ภาคใต้</a>

                    </div>
                </li>

                
            </ul>
            <a href="{% url 'contact' %} "><button class="btn btn-outline-light " type="submit" style="margin-right: 60px;">CONTACT</button></a>
        </div>
        </div>
    </nav>
    <img src="static/images/ne/ne2/2.jpg" alt="" width="100%" height="110%">
    <div class="container" style="font-size: 17.5px;">
        <div class="row">
            <div class="col-3"></div>
            <div class="col">
                <br>
                <p> วัดที่ถูกสร้างให้ติดกับภูเขาหินปูน ขนาดใหญ่ เป็นวัดที่เห็นแล้วนึกถึงวัด ที่ภูฏานเลย วิวสวยงามมากบริเวณข้างใน มีถ้ำแสดงธรรมที่สวยงาม มีจุดชมวิว แบบ 360 องศาให้เห็นวิวโดยรอบ นอกจากจะได้มาไหว้พระขอพรแล้ว ที่นี่ถ่ายรูปสวย วิวดีงามมากๆ


                </p>
                <p>
                    และที่นี่จึงถือได้ว่าเป็นแหล่งท่องเที่ยว unseen ของจังหวัดขอนแก่นที่ยังไม่ค่อย มีคนรู้จักมากนัก เป็นที่ที่น่าไปอีกที่และสวยงาม มาก ต้องแอบแวะมาสัมผัสกันแล้ว

                </p>
                <br>

            </div>
            <div class="col-3"></div>
        </div>
    </div>
    <div class="container text-center">
        <img src="static/images/ne/ne2/5.jpg" alt="" width="75%" height="100%">
    </div>
    <div class="container-fluid text-center">
        <img src="static/images/ne/ne2/6.jpg" alt="" width="56%" height="100%">
    </div>
    <div class="container" style="font-size: 17.5px;">
        <div class=" row ">
            <div class="col-3 "></div>
            <div class="col ">

                <br>
                <p>
                    หนีความวุ่นวาย มาทำให้จิตรใจสงบกันเถอะ มากราบไว้ ขอพรขอโชค พร้อมกับบรรยากาศ วิวรอบๆที่สวยงามและ สดุดตา เรียกได้ว่ามา แล้วคุ้มสุดๆ ได้ทั้งบุญและเที่ยวพักผ่อน ไปในตัว อิ่มเอมไปตามๆกัน สักครั้งต้องมาแล้วละ


                </p>
            </div>
            <div class="col-3 "></div>
        </div>
    </div>
    <div class="container text-center">
        <img src="static/images/ne/ne2/4.jpg" alt="" width="75%" height="100%">
    </div>
    <div class="container-fluid text-center">
        <img src="static/images/ne/ne2/7.jpg" alt="" width="56%" height="100%">
    </div>
    <div class="container" style="font-size: 17.5px;">
        <div class=" row ">
            <div class="col-3 "></div>
            <div class="col ">

                <br>
                <p> รายละเอียดของแต่ละชั้น
                    <br> - ชั้นแรก กราบท่านฤาษี สมโชค
                    <br> - ชั้นที่ 2 จัดพักชมวิว
                    <br> - ชั้นที่ 3 กราบพระอาจารย์เสงี่ยม ร่วมทำบุญบูชาของทีระลึก
                    <br> - ชั้นที่ 4 อาคารสดงธรรม
                    <br> - ชั้นที่ 5 จุดชมวิว 270 องศา
                    <br> - ชั้นที่ 6 ต่อด้วย ขึ้นบันได รอยพระพุทธบาท
                    <br> - ชั้นที่ 7 รอยพระพุทธบาทจำลอง และ จุดชมวิว


                </p>

            </div>
            <div class="col-3 "></div>
        </div>
    </div>
    <div class="container-fluid text-center">
        <img src="static/images/ne/ne2/3.jpg" alt="" width="56%" height="100%">
    </div>
    <div class="container" style="font-size: 17.5px;">
        <div class=" row ">
            <div class="col-3 "></div>
            <div class="col ">

                <br>
                <p>
                    ที่ตั้ง : อยู่ในพื้นที่บ้านซำจำปา ตำบลดงลาน อำเภอสีชมพู จังหวัดขอนแก่น
                    <br> การเดินทาง : จากอำเภอชุมแพ เดินทางไปตามเส้นทางเลย-ชุมแพ
                    <br> หรือทางหลวงแผ่นดินหมายเลข 201 ก่อนถึงถ้ำปู่หลุบประมาณ 7 กิโลเมตร หลักกิโลเมตรที่ 191 มีทางแยกขวาเข้าเส้นทาง ขก 3060 ระยะทางประมาณ 20.5 กิโลเมตร มีทางเลี้ยวขวาไปบ้านซำจำปาระยะทาง ประมาณ 30 กิโลเมตร ถึงถ้ำแสงธรรม เดินขึ้นเขาไปอีกประมาณ
                    200 เมตร

                    <br> พิกัด : วัดถ้ำแสงธรรม <a href="https://goo.gl/maps/X2kYP7NqZ5buGfjd6">https://goo.gl/maps/X2kYP7NqZ5buGfjd6</a>
                </p>

            </div>
            <div class="col-3 "></div>
        </div>
    </div>

    <div class="container " style="margin-bottom: 50px; ">
        <div class="col "></div>
    </div>
    <div class="container " style="margin-bottom: 50px; ">

        <div class="col text-center ">
            <tr>
                <img src="static/images/ne/ne2/3.jpg " alt=" " width="350px " height="240px ">
            </tr>
            <tr>
                <img src="static/images/ne/ne2/5.jpg " alt=" " width="350px " height="240px ">
            </tr>
            <tr>
                <img src="static/images/ne/ne2/6.jpg " alt=" " width="350px " height="240px ">
            </tr>
        </div>
        <div class="col text-center ">
            <tr>
                <img src="static/images/ne/ne2/3.jpg " alt=" " width="350px " height="240px ">
            </tr>
            <tr>
                <img src="static/images/ne/ne2/4.jpg " alt=" " width="350px " height="240px ">
            </tr>
            <tr>
                <img src="static/images/ne/ne2/8.jpg " alt=" " width="350px " height="240px ">
            </tr>
        </div>

        <div class="col "></div>
    </div>
    </div>
    <div style="padding:30px;margin-right: 60px;text-align: center; ">
        <h3>CREDIT</h2>
            <br>
            <a href="https://www.facebook.com/travelsagain/" class="font-weight-bold " style="color: rgb(0, 0, 0); "><img src="static/images/p/เที่ยวแล้ว.jpg " alt=" " class="rounded-circle font-weight-bold " width="50px " height="50px "> เที่ยวแล้วเที่ยวอีก</a>
            <br>
            <br>
            <a href="https://www.facebook.com/travelsagain/"><img src="static/images/p/fb.png" alt="" width="50px" height="50px"></a>
            <a href="https://www.instagram.com/travels_again/?fbclid=IwAR0O3BcrXi9x_s1pDNHDd8_0eUp7YHlcOKP7EAM8Cp6GUFUXx1iFZQP1th8"><img src="static/images/p/ig.png" alt="" width="60px" height="60px"></a>
            <a href="เที่ยวแล้วเที่ยวอีก - YouTube"><img src="static/images/p/yt.png" alt="" width="40px" height="40px"></a>
            <a href="เที่ยวแล้วเที่ยวอีก (@Travelsagain) / Twitter"><img src="static/images/p/tw.png" alt="" width="50px" height="50px"></a>
            <a href="http://www.travelsagain.com/?fbclid=IwAR3_VP5qErRAnQw3b78IFclSCWJp7yWXDD0TB3QUWG2QGCb7THdtPh8Gv7I"><img src="static/images/p/web.png" alt="" width="40px" height="40px"></a>
            <br>
    </div>
<div style="text-align: center;">
        <h2>แนะนำแหล่งท่องเที่ยว</h2>
    </div>
    <div class="container" style="font-size: 17.5px;margin-bottom: 50px;">
        <div class=" row ">
            <div class="col ">
                <a href="{% url 'c1' %}"><img src="static/images/c/c1/1.jpg" alt="" style="width:350px; height:240px;padding:10px;"></a>
                <img src="static/images/p/getout.jpg " alt=" " class="rounded-circle font-weight-bold " width="50px " height="50px "> เที่ยวไปเลย go to trips</a>
                <a href="{% url 'c1' %}" class="nav-link">
                    <p style="color: black;font-weight: bold;text-align: center;">บ้านตาหรั่ง</p>
                </a>
            </div>
            <div class="col ">
                <a href="{% url 'c4' %}"><img src="static/images/c/c4/1.jpg" alt="" style="width:350px; height:240px;padding:10px;"></a>
                <img src="static/images/p/black.jpg " alt=" " class="rounded-circle font-weight-bold " width="50px " height="50px "> BLACK PACK
                <a href="{% url 'c4' %}" class="nav-link">
                    <p style="color: black;font-weight: bold;text-align: center;">หาดเจ้าสำราญ </p>
                </a>
            </div>
             <div class="col ">
                <a href="{%url 'n4' %}"><img src="static/images/n/n4/1.jpg" alt="" style="width:350px; height:240px;padding:10px;"></a>
                <img src="static/images/p/dd.jpg " alt=" " class="rounded-circle font-weight-bold " width="50px " height="50px "> เที่ยวดี๊ดี : traveldd</a>
                <a href="{% url 'n4' %}" class="nav-link">
                    <p style="color: black;font-weight: bold;text-align: center;">ปางอุ๋ง </p>
                </a>
            </div>
        </div>
    </div>
     <section style="text-align: center;">
        <script>
            function goBack() {
                window.history.back()
            }
        </script>
        <script>
            function goForward() {
                window.history.forward()
            }
        </script>

    </section>
     <div style="text-align: center;">
        <input class="btn btn-outline-info" type="button" value="Back" onclick="goBack()">
        <a href="{% url 'about' %}"> <button type="button" class="btn btn-outline-info">เกี่ยวกับฉัน</button></a>
        <a href="{% url 'central' %}"> <button type="button" class="btn btn-outline-info">ภาคกลาง</button></a>
        <a href="{% url 'north' %}"> <button type="button" class="btn btn-outline-info">ภาเหนือ</button></a>
        <a href="{% url 'south' %}"> <button type="button" class="btn btn-outline-info">ภาคใต้</button></a>
        <a href="{% url 'northeast' %}"><button type="button" class="btn btn-outline-info">ภาคอีสาน</button></a>
        <a href="{% url 'camping' %}"> <button type="button" class="btn btn-outline-info">แคมป์ปิ้ง</button></a>
        <a href="{% url 'nature' %}"> <button type="button" class="btn btn-outline-info">ธรรมชาติ</button></a>
        <a href="{% url 'photograph' %}"> <button type="button" class="btn btn-outline-info">ถ่ายรูป</button></a>
        <a href="{% url 'sea' %}"> <button type="button" class="btn btn-outline-info">ทะเล</button></a>
        <input class="btn btn-outline-info" type="button" value="Forward" onclick="goForward()">
    </div>
    <div class="jumbotron " style="margin-bottom:0;background-color: #213357; ">
        <div class="container ">
            <div class="row ">
                <div class="col ">
                    <p>
                        <a href="{% url 'about' %}" style="font-size: 18px;color: rgb(255, 255, 255); ">เกี่ยวกับฉัน</a></p>
                    <br>

                    <p>
                        <a href="{% url 'region' %}" style="font-size: 18px;color: rgb(255, 255, 255); ">ภาคของไทย</a></p>
                    <div style="padding-top:50px;text-align: left;color:#ffffff;">

                        นักศึกษา ชั้นปีที่ 3
                        <br> สาขาวิชาวิศวกรรมสารสนเทศ คณะวิศวกรรมศาสตร์
                        <br> สถาบันเทคโนโลยีพระจอมเกล้าเจ้าคุณทหารลาดกระบัง
                    </div>

                </div>
                <div class="col ">
                   

                    <p>
             <a href="{% url 'contact' %}" style="font-size: 18px;color: rgb(255, 255, 255); ">Contact</a></p>
                          </div>
                <div class="col ">
                    <img src="static/images/logo4.png " alt=" " width="400px " height="200px ">
                </div>
            </div>
        </div>
    </div>
    {% block content %} {% endblock %}
    <script src="{% static './lib/jquery/jquery-2.2.4.js' %}"></script>
    <script src="{% static './lib/popper/popper.min.js' %}"></script>
    <script src="{% static './lib/bootstrap/js/bootstrap.min.js' %}"></script>
</body>

</html>