{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>{% block title %}ธรรมชาติ{% endblock %}</title>
    <link rel="stylesheet" href="{% static './lib/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static './lib/fontawesome/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static './css/style.css'%}">
</head>

<body>
    <section style="text-align: center;">
        <script>
            function goBack() {
                window.history.back()
            }
        </script>
        <script>
            function goForward() {
                window.history.forward()
            }
        </script>
        <script>
            function myFunction() {
                document.getElementById("nature").innerHTML = "<br>" + " ภูเขา เป็นอีกสถานที ที่ใครหลายๆคนให้ความสนใจ" +
                    " <br>" + " และยังสามารถทำกิจกรรมได้หลายอย่าง การได้ปีนเขา ขึ้นไปดูวิวสวยๆ" +
                    "<br>" + " บรรยากาศในช่วงหน้าหนาว ถือเป็นช่วงที่ทางเราแนะนำกันเลยนะเออ เพราะจะได้วิวที่ดีมาก" +

                    "<br>" + " น้ำตก ก็เป็นอีกตัวเลือกหนึ่งสำหรับการไปเที่ยวกับเพื่อน เพราะนอกจากจะได้เล่นน้ำเย็นๆแล้ว" +
                    "<br>" + " ก็ได้ดูธรรมชาติเขียวๆ เป็นการผ่อนคลายภายในตัว ยิ่งในช่วงฤดูร้อน การได้มาเล่นน้ำตกกับเพื่อนๆ" +
                    "<br>" + " เป็นอีกหนึ่งเส้นทางการสร้างความสุขง่ายๆ ผ่อนคลายได้ดีเลย ถ้าหากมาในช่วงหน้าฝนนี่ น้ำหลากนะเอ่อ! ";
            }
        </script>

    </section>
    <nav class="navbar navbar-expand-md navbar-dark" style="background-color: #213357;padding: 15px;">
        <a class="navbar-brand" href="{% url 'home' %}"><img src="static/images/logo4.png" alt="" width="160px" height="80px"></a>
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item" style="margin-right: 25px;">
                    <a class="nav-link" href="{% url 'about' %}">เกี่ยวกับฉัน</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link " href="{% url 'region' %}" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">ภาคของไทย</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownId">
                        <a class="dropdown-item" href="{% url 'region' %}">ภาคของไทย</a>
                        <a class="dropdown-item" href="{% url 'central' %}">ภาคกลาง</a>
                        <a class="dropdown-item" href="{% url 'north' %}">ภาเหนือ</a>
                        <a class="dropdown-item" href="{% url 'northeast' %}">ภาคอีสาน</a>
                        <a class="dropdown-item" href="{% url 'south' %}">ภาคใต้</a>

                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link " href="หมวดเที่ยว" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">หมวดเที่ยว</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{% url 'group' %}">หมวดเที่ยว</a>
                        <a class="dropdown-item" href="{% url 'camping' %}">แคมป์ปิ้ง</a>
                        <a class="dropdown-item" href="{% url 'nature' %}">ธรรมชาติ</a>
                        <a class="dropdown-item" href="{% url 'sea' %}">ทะเล</a>
                        <a class="dropdown-item" href="{% url 'photograph' %}">ถ่ายรูป</a>
                    </div>
                </li>


            </ul>
            <a href="{% url 'contact' %} "><button class="btn btn-outline-light " type="submit" style="margin-right: 60px;">CONTACT</button></a>
        </div>
        </div>
    </nav>
    <div class="container text-center" style="padding:20px;">
        <button class="btn btn-outline-light text-dark" onclick="myFunction()"> <h2>ธรรมชาติ</h2></button>
        <h3>NATURE</h3>
        <p id="nature"></p>
    </div>
    <div class="container" style="background-color: #213357;margin-bottom: 50px;">
        <br>
    </div>

    <div class="row">
        <div class="col">
        </div>
        <div class="col text-center ">
            <div style="padding:10px;text-align:left; ">
                <a href="https://www.facebook.com/traveldd18 " class="font-weight-bold " style="color: rgb(0, 0, 0); "><img src="static/images/p/dd.jpg " alt=" " class="rounded-circle font-weight-bold " width="50px " height="50px ">เที่ยวดี๊ดี : traveldd</a>
            </div>
            <a href="{% url 'n3' %}"><img src="static/images/n/n3/1.jpg" alt="" style="width: 600px;height: 400px;padding: 10px;"></a>
            <a href="{% url 'n3' %}" class="nav-link">
                <p style="color: black;">ภูเขาเดียวดาย พะเยา</p>
            </a>
        </div>
        <div class="col">
        </div>
    </div>  
    <div class="row">
        <div class="col">
        </div>
        <div class="col text-center ">
            <div style="padding:10px;text-align:left; ">
                <a href="https://www.facebook.com/search/top?q=Chill%20Journey%20%3A%3A%20%E0%B9%80%E0%B8%97%E0%B8%B5%E0%B9%88%E0%B8%A2%E0%B8%A7%E0%B8%AD%E0%B8%A2%E0%B9%88%E0%B8%B2%E0%B8%87%E0%B8%8A%E0%B8%B4%E0%B8%A7" class="font-weight-bold " style="color: rgb(0, 0, 0); "><img src="static/images/p/chill.jpg " alt=" " class="rounded-circle font-weight-bold " width="50px " height="50px ">Chill Journey :: เที่ยวอย่างชิว</a>
            </div>
            <a href="{% url 's1' %}"><img src="static/images/s/s1/5.jpg" alt="" style="width: 600px;height: 400px;"></a>
            <a href="{% url 's1' %}" class="nav-link">
                <p style="color: black;">เชี่ยวหลาน สุราษฎร์ธานี</p>
            </a>
        </div>
        <div class="col">
        </div>
    </div>
    <div class="row">
        <div class="col">
        </div>
        <div class="col text-center ">
            <div style="padding:10px;text-align:left; ">
                <a href="https://www.facebook.com/search/top?q=Chill%20Journey%20%3A%3A%20%E0%B9%80%E0%B8%97%E0%B8%B5%E0%B9%88%E0%B8%A2%E0%B8%A7%E0%B8%AD%E0%B8%A2%E0%B9%88%E0%B8%B2%E0%B8%87%E0%B8%8A%E0%B8%B4%E0%B8%A7" class="font-weight-bold " style="color: rgb(0, 0, 0); "><img src="static/images/p/chill.jpg " alt=" " class="rounded-circle font-weight-bold " width="50px " height="50px ">Chill Journey :: เที่ยวอย่างชิว</a>
            </div>
            <a href="{% url 's2' %}"><img src="static/images/s/s2/2.jpg" alt="" style="width: 600px;height: 400px;padding: 10px;"></a>
            <a href="{% url 's2' %}" class="nav-link">
                <p style="color: black;">ท่าปอมคลองสองน้ำ กระบี่</p>
            </a>
        </div>
        <div class="col">
        </div>
    </div>
    <div class="row">
        <div class="col">
        </div>
        <div class="col text-center ">
            <div style="padding:10px;text-align:left; ">
                <a href="https://www.facebook.com/IKIGAI.Outside/" class="font-weight-bold " style="color: rgb(0, 0, 0); "><img src="static/images/p/ik.jpg " alt=" " class="rounded-circle font-weight-bold " width="50px " height="50px ">Ikigai Outside ออกไปนอกกรอบ</a>
            </div>
            <a href="{% url 'ne1' %}"><img src="static/images/ne/ne1/1.jpg" alt="" style="width: 600px;height: 400px;padding: 10px;"></a>
            <a href="{% url 'ne1' %}" class="nav-link">
                <p style="color: black;">วัดภูทอก บึงกาฬ</p>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col">
        </div>
        <div class="col text-center ">
            <div style="padding:10px;text-align:left; ">
                <a href="https://www.facebook.com/travelsagain/" class="font-weight-bold " style="color: rgb(0, 0, 0); "><img src="static/images/p/เที่ยวแล้ว.jpg " alt=" " class="rounded-circle font-weight-bold " width="50px " height="50px "> เที่ยวแล้วเที่ยวอีก</a>
            </div>
            <a href="{% url 'ne2' %}"><img src="static/images/ne/ne2/2.jpg" alt="" style="width: 600px;height: 400px;padding: 10px;"></a>
            <a href="{% url 'ne2' %}" class="nav-link">
                <p style="color: black;">วัดถ้ำแสงธรรม ขอนแก่น</p>
            </a>
        </div>
        <div class="col">
        </div>
    </div>
    <section style="text-align: center;">
        <script>
            function goBack() {
                window.history.back()
            }
        </script>
        <script>
            function goForward() {
                window.history.forward()
            }
        </script>

    </section>
    <div style="text-align: center;">
        <input class="btn btn-outline-info" type="button" value="Back" onclick="goBack()">
        <a href="{% url 'about' %}"> <button type="button" class="btn btn-outline-info">เกี่ยวกับฉัน</button></a>
        <a href="{% url 'central' %}"> <button type="button" class="btn btn-outline-info">ภาคกลาง</button></a>
        <a href="{% url 'north' %}"> <button type="button" class="btn btn-outline-info">ภาเหนือ</button></a>
        <a href="{% url 'south' %}"> <button type="button" class="btn btn-outline-info">ภาคใต้</button></a>
        <a href="{% url 'northeast' %}"><button type="button" class="btn btn-outline-info">ภาคอีสาน</button></a>
        <a href="{% url 'camping' %}"> <button type="button" class="btn btn-outline-info">แคมป์ปิ้ง</button></a>
        <a href="{% url 'nature' %}"> <button type="button" class="btn btn-outline-info">ธรรมชาติ</button></a>
        <a href="{% url 'photograph' %}"> <button type="button" class="btn btn-outline-info">ถ่ายรูป</button></a>
        <a href="{% url 'sea' %}"> <button type="button" class="btn btn-outline-info">ทะเล</button></a>
        <input class="btn btn-outline-info" type="button" value="Forward" onclick="goForward()">
    </div>
    <div class="jumbotron " style="margin-bottom:0;background-color: #213357; ">
        <div class="container ">
            <div class="row ">
                <div class="col ">
                    <p>
                        <a href="{% url 'about' %}" style="font-size: 18px;color: rgb(255, 255, 255); ">เกี่ยวกับฉัน</a></p>
                    <br>

                    <p>
                        <a href="{% url 'region' %}" style="font-size: 18px;color: rgb(255, 255, 255); ">ภาคของไทย</a></p>
                    <div style="padding-top:50px;text-align: left;color:#ffffff;">

                        นักศึกษา ชั้นปีที่ 3
                        <br> สาขาวิชาวิศวกรรมสารสนเทศ คณะวิศวกรรมศาสตร์
                        <br> สถาบันเทคโนโลยีพระจอมเกล้าเจ้าคุณทหารลาดกระบัง
                    </div>

                </div>
                <div class="col ">
                    <p>
                        <a href="{% url 'group' %} " style="font-size: 18px;color: rgb(255, 255, 255); ">หมวดเที่ยว</a></p>
                    <br>

                    <p>
                        <a href="{% url 'contact' %}" style="font-size: 18px;color: rgb(255, 255, 255); ">Contact</a></p>
                </div>
                <div class="col ">
                    <img src="static/images/logo4.png " alt=" " width="400px " height="200px ">
                </div>
            </div>
        </div>


    </div>

    {% block content %} {% endblock %}
    <script src="{% static './lib/jquery/jquery-2.2.4.js' %}"></script>
    <script src="{% static './lib/popper/popper.min.js' %}"></script>
    <script src="{% static './lib/bootstrap/js/bootstrap.min.js' %}"></script>
</body>

</html>